.footer {
	padding: 100px 0;
	// .footer__container

	&__container {
		display: block;
		text-align: center;

		h2 {
			font-family: 'Playfair Display', sans-serif;
			@include adaptiveValue('font-size', 26, 20);
		}
	}

	// .footer__btn

	&__btn {
		margin-top: 20px;
	}
}
